@import '../theme';

.footer_container--light,
.footer_container--dark {
  display: flex;
  width: 100%;
  height: 68px;

  justify-content: center;
  align-items: center;

  gap: 48px;
}

.footer_container--default {
  position: absolute;
  bottom: 0;
}

.footer_text_container {
  @include font-body3;
  color: var(--gray-400, #8f9298);
}

.footer_left_items {
  display: flex;
  margin-left : 80px;
  margin-right : auto;
}

.footer_right_items {
  display: flex;
  gap: 12px;
  margin-left : auto;
  margin-right : 80px;
}
