@import '../theme';

.footer_container--light,
.footer_container--dark {
  display: flex;
  width: 1440px;
  height: 68px;
  padding: 24px 80px;

  justify-content: space-between;
  align-items: center;

  gap: 48px;
  flex-shrink: 0;
}

.footer_container--none {
  display: flex;
  width: 1440px;
  height: 68px;
  padding: 24px 80px;

  justify-content: center;
}
.footer_text_container {
  @include font-body3;
  color: var(--gray-400, #8f9298);
}

.footer_left_items {
  display: flex;
}

.footer_right_items {
  display: flex;
  gap: 12px;
}
