.header--light--container,
.header--light--container--main,
.header--dark--container,
.header--dark--container--main {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 76px;

  align-items: center;
  position: absolute;
}

.header--light--container {
  background-color: #FFF;
}

.header--light--container--main {
  background-color: none;
}

.header--dark--container {
  background-color: #000;
}

.header--dark--container--main {
  background-color: #000;
  // background-color: none;
}

.header--logo {
  margin-left : 80px;
  margin-right: 8px;
}

.header--logo--text {
  margin-right: auto;
}

.header--light--btn--box,
.header--dark--btn--box {
  display: flex;
  flex-direction: row;

  gap : 64px;
  margin-right : 80px;

  align-items: center;
  justify-content: center;
}

.header--light--btn,
.header--dark--btn {
  border : none;
  background: none;

  font-family: "Spoqa Han Sans Neo";
  font-size: 16px;
  font-weight: 700;
  line-height: 22px; 
}

.header--light--btn {
  color : #000
}

.header--dark--btn {
  color : #FFF
}

.header--light--problemNum,
.header--dark--problemNum {
  margin-left : 80px;
  margin-right : auto;

  font-family: "Spoqa Han Sans Neo";
  font-size: 24px;
  font-weight: 700;
  line-height: 22px; 
}

.header--light--problemNum {
  color : #000;
}

.header--dark--problemNum {
  color: #FFF
}