@import '../../styles/theme';

.page_nation_container {
  display: flex;

  justify-content: center;
  align-items: center;

  @include font-t4;
  gap: 25px;
}

.page_nation--light,
.page_nation--dark {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  gap: 25px;
}

.page_nation--light:hover {
  color: var(--blue-light-200, #99f);
}

.page_nation--light:active,
.page_nation--light:disabled {
  color: var(--blue-light-300, #66f);
}

.page_nation--dark {
  color: $white;

  img {
    filter: brightness(0) invert(1);
  }
}
.page_nation--dark:hover {
  color: var(--dark-blue-300, #9ac4e6);
}

.page_nation--dark:active,
.page_nation--dark:disabled {
  color: var(--dark-blue-500, #569cd6);
}
