@import '../theme';

.Solve--Container--light,
.Solve--Container--dark {
  display: flex;
  width: 100%;
  height: 100%;

  @include font-t2;
}

.Solve--Container--light {
  background: var(--light-cool-gray, #f8f8ff);
  color: var(--black, #000);
}

.Solve--Container--dark {
  background: var(--black, #000);
  color: var(--white, #fff);
}

.Solve--Left--Container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  margin-top: 84px;
}

.Solve--Explain--Container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: flex-start;
  background: none;
  height: 674px;
  overflow: auto;
  position: relative;
}

.Solve--Explain--Contents {
  display: flex;
  flex-direction: column;
  height: 196px;
}

.Solve--Explain--Title--light,
.Solve--Explain--Title--dark {
  @include font-body1;
  padding: 12px 0;
}

.Solve--Explain--Text--light,
.Solve--Explain--Text--dark {
  @include font-body3;
  padding: 12px 0;
  border-top: 2px solid #bdbfc4;
}

.Solve--Explain--Title--light {
  color: var(--light-bule-green, #237893);
  font-feature-settings: 'clig' off, 'liga' off;
}

.Solve--Explain--Title--dark,
.Solve--Explain--Text--dark {
  color: var(--white, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
}

.Solve--Explain--Text--light {
  color: var(--black, #000);
  font-feature-settings: 'clig' off, 'liga' off;
}

.Solve--ExampleInput--Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: none;
  overflow: auto;
  position: relative;
  overflow-y: hidden;
}

.Solve--ExampleInput--Header {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.Solve--ExampleInput--Title--light,
.Solve--ExampleInput--Title--dark {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.Solve--ExampleInput--Title--light,
.Solve--ExampleInput--Text--light {
  color: var(--black, #000);
  font-feature-settings: 'clig' off, 'liga' off;
}

.Solve--ExampleInput--Title--dark,
.Solve--ExampleInput--Text--dark,
.Solve--ExampleInput--Contents--dark {
  color: var(--white, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
}

.Solve--ExampleInput--Contents--light,
.Solve--ExampleInput--Contents--dark {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 10px;
  @include font-body4;
}

.Solve--ExampleInput--HeaderText {
  margin-left: 24px;
}
.Solve--ExampleInput--Contents--light {
  color: var(--light-bule-green, #237893);
}

.Solve--ExampleInput--Text--light,
.Solve--ExampleInput--Text--dark {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--gray-200, #e3e4e5);
}

.Solve--Right--Container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  margin-top: 84px;
  border-left: 2px solid var(--gray-200, #e3e4e5);
}

.Solve--Right--Container--Title {
  padding: 12px 24px;
}

.Solve--ProblemSolving--Container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: flex-start;
  background: none;
  overflow: auto;
  position: relative;
}

.Solve--ProblemSolving--Editor {
  display: flex;
  width: 1044px;
  padding: 12px 24px;
  margin-left: 24px;
}

.Solve--Output--Container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: flex-start;
  background: none;
  overflow: auto;
  position: relative;
}

.Solve--Output--Contents--light,
.Solve--Output--Contents--dark {
  display: flex;
  width: 1044px;
  height: 90px;

  padding: 12px 24px;
  margin: auto;
  border-radius: 8px;
}

.Solve--Output--Contents--light {
  background: var(--white, #fff);
}

.Solve--Output--Contents--dark {
  background: var(--gray-800, #2e2f33);
}
