@import '../theme';

.input--nomal--light,
.input--nomal--dark,
.input--nomal--light--error,
.input--nomal--dark--error {
  @include font-t4;
  display: flex;
  width: 348px;
  height: 48px;

  align-items: center;
  flex-shrink: 0;

  padding: 12px 16px;
  gap: 8px;

  border-radius: 8px;
  border: 2px solid var(--gray-100, #f6f6f6);
  background: var(--white, #fff);
}

.input--nomal--light:focus {
  outline: none;
  border: 2px solid var(--blue-light-200, #99f);
}

.input--nomal--dark:focus {
  outline: none;
  border: 2px solid var(--dark-blue-500, #569cd6);
}

.input--nomal--light--error,
.input--nomal--dark--error {
  border: 2px solid var(--Error, #f35956);
}
