@import '../theme';

.modal--container {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 380px;

  background-color: #FFF;
  border-radius: 16px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
}

.modal--close {
  position: absolute;
  top: 24px;
  right: 22px;
}

.modal--wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: center;
  justify-content: center;
}

.modal--Profile {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top : 48px;
  margin-bottom: 24px;
}

.modal-Icon {
  width: 64px;
  height: 64px;

  margin-top : 48px;
  margin-bottom: 24px;
}

.modal--title {
  @include font-h5;
  margin-bottom: 4px;
}
.modal--content {
  @include font-t4;
  margin-bottom: 24px;
}

.modal--buttons {
  display: flex;
  flex-direction: row;

  width: 100%;
  justify-content: center;
  gap : 16px;
  margin-bottom: 24px;
}
